* {
  margin: 0;
  padding: 0;
}

div.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}


header {
  height: 300px;
  background-color: #9E1078;
}

main {
  min-height: 50vh;
  background-color: #EDC809;
}


footer {
  min-height: 25px;
  background-color: #EB00AC;
}

nav {
  font-size: 0;
}


nav a {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  height: 40px;
  font-family: tahoma, non-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}




nav a.button1 {
  background-color: #F7800C;

}

nav a.button2 {
  background-color: #98D40B;

}

nav a.button3 {
  background-color: #00E7EB;

}

nav a.button4 {
  background-color: #720BD4;
}


nav a:hover {
  color: black;
  border-bottom: 4px solid #F54000;
  background-color: white;
}
